/* Global styles */
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter Variable", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

/* Color mode styles */
@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: #1e1e1f;
    background: #efeff5;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #121214;
  }
}

/* Conditional font weights per color mode */
.dark .view-lines {
  font-variation-settings: "wght" 388 !important;
}
.light .view-lines {
  font-variation-settings: "wght" 412 !important;
}

/* Container styles */
.container {
  padding: 0;
}
.main {
  height: 100dvh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
