.container {
  /* padding: 0 2rem; */
}

.main {
  min-height: 100vh;
  /* padding: 4rem 0; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.infoBox {
  position: fixed;
  bottom: 46px;
  left: 64px;
  width: auto;
  height: auto;
  background-color: #171718;
  color: white;
  z-index: 99999;
  border-radius: 6px;
  padding: 24px 28px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 14px;
  line-height: 2;
  box-shadow: 0 16px 40px -4px rgba(0, 0, 5, 0.4);
}

.infoBox a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.infoBox a:hover {
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.actionButtons {
  position: fixed;
  right: 46px;
  bottom: 46px;
  color: white;
  z-index: 999;
  display: flex;
  align-items: center;
}

.actionButtons button {
  display: inline-flex;
  align-items: center;
  border: none;
  outline: none;
  padding: 12px 20px 12px 20px;
  height: 47px;
  text-decoration: none;
  background-color: #171718;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 6px;
  user-select: none;
  position: relative;
}

.actionButtons button:hover {
  background-color: #212122;
}

.actionButtons button:active {
  transform: translateY(1px);
}

.actionButtons button {
  margin-left: 8px;
}

.pill {
  text-decoration: none;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: rgb(228, 68, 46);
  border: none;
  border-radius: 16px;
  margin-right: 5px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
